[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
environs = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"

[requires]
python_version = "3.7"
